*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik, Helvetica, Tahoma, Arial, sans-serif;
}

.top{
    width: 100%;
    height: 40%;
    display: flex;
}  

.nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 100px;
    height: auto;
}

.main{
    width: 100%;
    height: 90%;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}